to create a brand new app (with no conflicts due to a new version of webpack) ->
	npx thirdweb create --app

install thirdweb activeChains ->
	npm install @thirdweb-dev/chains

install Tailwind CSS ->
	npm install -D tailwindcss
	npx tailwindcss init

install @tailwindcss/typography plugin ->
	npm install -D @tailwindcss/typography

install flowbite plugin ->
	npm install flowbite flowbite-react
	
add the following to 'tailwind.config.js'->
	module.exports = {
  		//...
  		content: ["./src/**/*.{js,jsx,ts,tsx}", 'node_modules/flowbite-react/lib/esm/**/*.js'],
	}

install daisyUI ->
	npm i -D daisyui@latest

add daisyUI to 'tailwind.config.js' ->
	module.exports = {
  		//...
  		plugins: [require("@tailwindcss/typography"), require("daisyui"), require('flowbite/plugin')],
	}

in the created React app replace 'App.css' with the following ->
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

in order to use daisyUI themes add the following to 'tailwind.config.js' before plugins ->
	module.exports = {
	  //...
	  daisyui: {
	    themes: ["synthwave"],
	  },
	}
	
install react-nostr ->
	npm install react-nostr
