install Tailwind CSS ->
	npm install -D tailwindcss
	npx tailwindcss init

install @tailwindcss/typography plugin ->
	npm install -D @tailwindcss/typography
	
add the following to 'tailwind.config.js'->
	module.exports = {
  		//...
  		content: ["./src/**/*.{js,jsx,ts,tsx}"],
	}

install daisyUI ->
	npm i -D daisyui@latest

add daisyUI to 'tailwind.config.js' ->
	module.exports = {
  		//...
  		plugins: [require("@tailwindcss/typography"), require("daisyui")],
	}

in the created React app replace 'App.css' with the following ->
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

in order to use daisyUI themes add the following to 'tailwind.config.js' before plugins ->
	module.exports = {
	  //...
	  daisyui: {
	    themes: ["synthwave"],
	  },
	}
